@font-face {
	font-family: 'Basiic';
	src: url(/fonts/BASIIC.TTF) format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Array';
	src: url(/fonts/ARRAY-REGULAR.OTF) format('opentype');
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Basiic', sans-serif;
	background-color: black;
	color: #FFF;
	width: 100%;
	height: auto;
	margin: 0;
	overflow-y: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

header {
	width: 100%;
	padding: 1em 0;
	position: absolute;
	top: 55%;
	left: 15%;
	transform: translateY(-50%);
	z-index: 1000;
}

header nav ol {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.fixed-nav, .initial-nav {
	transition: opacity 0.5s;
}

header.initial-nav nav ol li {
	margin: 0 20px;
	font-size: 1.5em;
}

header.initial-nav nav ol li a {
	text-decoration: none;
	color: #FFF;
	transition: color 0.5s;
}

header.initial-nav nav ol li a:hover {
	color: #6dff83;
}

.fixed-nav {
	position: fixed;
	top: 0;
	right: 1em;
	left: auto;
	transform: none;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0) 100%);
	/* background-color: black; */
	transition: top 0.5s, right 0.5s;
	z-index: 1000;
	text-decoration: none; 
	font-size: 1.2em;
	padding-bottom: 5%;
	opacity: 1;
	visibility: visible;
}

.fixed-nav nav {
	text-align: right;
}

.fixed-nav nav ol {
	text-align: right;
	top: 2em;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: right;
}

.fixed-nav nav ol li {
	display: inline;
	margin-left: 2em;
}

.fixed-nav nav ol li a {
	text-decoration: none;
	color: white;
	transition: color 0.5s;
}

.fixed-nav nav ol li a:hover {
	color: #6dff83;
}



main {
	margin-top: 1em;
	width: 100%;
	padding: 1em;
}

.intro {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .intro .scrolling-text-wrapper {
	position: relative;
	margin: 0 auto;
	display: flex;
	max-width: 100%;
	height: 100vh;
}

.intro .scrolling-text {
	display: inline-block;
	overflow: hidden;
	margin: 0 2em;
	white-space: nowrap;
	animation: LeftToRight 10s linear infinite;

} */

.intro .scrolling-text h1 {
	color: #FFF;
	text-align: center;
	font-family: 'Array', sans-serif;
	font-size: 15em;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	line-height: normal;
	width: 1206px;
	height: 10px;
	flex-shrink: 0;
	transition: color 1s;
}

.intro .scrolling-text h1:hover {
	color: #6dff83;
}

/* @keyframes LeftToRight {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
} */

.intro h2 {
	width: 300px;
	height: 204px;
	right: 10%;
	position: absolute;
	top: 1%;
	color: #FFFCFC;
	text-align: right;
	font-family: basiic;
	font-size: 2em;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	transition: color 1s;
}

.intro h2:hover {
	color: #6dff83;
}

.vertical-line {
	position: absolute;
	right: 15%;
	top: 35%;
	height: 120px;
	width: 11px;
	background-color: #FFF;
	transform: rotate(180deg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.vertical-line::before {
    content: '';
    display: block;
    height: 10px; 
}

.vertical-line::after {
    content: '';
    display: block;
    height: 10px;
}

.about-divider {
	height: 10px;
	background-color: #6dff83;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.about-divider.visible {
	opacity: 1;
}

.about {
	padding-left: 2%;
}

.about h2 {
	font-size: 3em;
	font-weight: 500;
	font-family: Array;
	position: relative;
	transition: color 1s;
}

.about h2:hover {
	color: #6dff83;
}

.about p {
	font-size: 1.2em;
	font-weight: 300;
	max-width: 70%;
}

.highlight {
	color: #6dff83;
}

.about a {
	text-decoration: none;
	color: #6dff83;
}

.about a:hover {
	text-shadow: 0 0 8px #6dff83, 0 0 16px #6dff83, 0 0 24px #6dff83
}

.projects-divider {
	margin-top: 2em;
	height: 10px;
	background-color: #6dff83;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.projects-divider.visible {
	opacity: 1;
}

.projects {
	padding-left: 2%;
}

.projects h2 {
	font-size: 3em;
	font-weight: 500;
	font-family: Array;
	position: relative;
	transition: color 1s;
}

.projects h2:hover {
	color: #6dff83;
}

.projects p {
	font-size: 1.2em;
	font-weight: 300;
	max-width: 70%;
}

.contact-divider {
	margin-top: 2em;
	height: 10px;
	background-color: #6dff83;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.contact-divider.visible {
	opacity: 1;
}

.contact {
	padding-left: 2%;
}

.contact h2 {
	font-size: 3em;
	font-weight: 500;
	font-family: Array;
	position: relative;
	transition: color 1s;
}

.contact h2:hover {
	color: #6dff83;
}

.contact p {
	margin-top: -2%;
	font-size: 1.2em;
	font-weight: 300;
}

.carousel-container {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
}

.carousel {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-item {
	min-width: 80%;
	box-sizing: border-box;
	padding: 20px;
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
	opacity: 1;
}

.carousel-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	display: flex;
	border: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 10px;
}

.carousel-control.prev{
	left: 10px;
}

.carousel-control.next {
	right: 10px;
}

.bottom-nav-carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}

.bottom-nav-carousel button {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	border: none;
	padding: 10px 20px;
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.bottom-nav-carousel button:hover {
	background-color: #6dff83;
	color:rgba(0, 0, 0, 1)
}